In [1]:
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
tables=pd.read_html(url)

In [4]:
tables[0].head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A      Queen's Park      Not assigned
8      M8A      Not assigned      Not assigned
9      M9A  Downtown Toronto      Queen's Park

In [5]:
a=tables[0]
a.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A      Queen's Park      Not assigned
8      M8A      Not assigned      Not assigned
9      M9A  Downtown Toronto      Queen's Park

In [12]:
b=a[a['Borough']!='Not assigned']
b.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Not assigned
9       M9A  Downtown Toronto      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [29]:
df1=b.groupby("Postcode").agg(lambda x:','.join(set(x)))
df1.head(10)

              Borough                                  Neighbourhood
Postcode
M1B       Scarborough                                  Malvern,Rouge
M1C       Scarborough           Highland Creek,Rouge Hill,Port Union
M1E       Scarborough                Morningside,Guildwood,West Hill
M1G       Scarborough                                         Woburn
M1H       Scarborough                                      Cedarbrae
M1J       Scarborough                            Scarborough Village
M1K       Scarborough      Ionview,Kennedy Park,East Birchmount Park
M1L       Scarborough                  Golden Mile,Clairlea,Oakridge
M1M       Scarborough  Cliffside,Scarborough Village West,Cliffcrest
M1N       Scarborough                     Cliffside West,Birch Cliff

In [30]:
df1.loc[df1['Neighbourhood']=="Not assigned",'Neighbourhood']=df1.loc[df1['Neighbourhood']=="Not assigned",'Borough']

df1.shape

(103, 2)

In [31]:
df2=pd.read_csv("https://cocl.us/Geospatial_data")
df2.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [24]:
df2.rename({'Postal Code': 'Postcode'}, axis=1, inplace=True)
df2.head(10)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476
5      M1J  43.744734 -79.239476
6      M1K  43.727929 -79.262029
7      M1L  43.711112 -79.284577
8      M1M  43.716316 -79.239476
9      M1N  43.692657 -79.264848

In [32]:
df3=pd.merge(a,e, how='right', on = 'Postcode')
df3.head(15)

   Postcode           Borough     Neighbourhood   Latitude  Longitude
0       M3A        North York         Parkwoods  43.753259 -79.329656
1       M4A        North York  Victoria Village  43.725882 -79.315572
2       M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3       M6A        North York  Lawrence Heights  43.718518 -79.464763
4       M6A        North York    Lawrence Manor  43.718518 -79.464763
5       M7A      Queen's Park      Not assigned  43.662301 -79.389494
6       M9A  Downtown Toronto      Queen's Park  43.667856 -79.532242
7       M1B       Scarborough             Rouge  43.806686 -79.194353
8       M1B       Scarborough           Malvern  43.806686 -79.194353
9       M3B        North York   Don Mills North  43.745906 -79.352188
10      M4B         East York  Woodbine Gardens  43.706397 -79.309937
11      M4B         East York     Parkview Hill  43.706397 -79.309937
12      M5B  Downtown Toronto           Ryerson  43.657162 -79.378937
13      M5B  Downtown Toronto   Garden District  43.657162 -79.378937
14      M6B        North York         Glencairn  43.709577 -79.445073

In [33]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.0

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Libraries imported.

In [34]:
CLIENT_ID = 'FWA1UIVYVSYB3NX0ZDZDT02CKWNXXS3C2VHZEDTGUX4T0FVY' # your Foursquare ID
CLIENT_SECRET = '3DOOWQS5S4GOA2AYGFLUQKYIYJKJJBDMUSPHKHIFVMSSG3BB' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: FWA1UIVYVSYB3NX0ZDZDT02CKWNXXS3C2VHZEDTGUX4T0FVY
CLIENT_SECRET:3DOOWQS5S4GOA2AYGFLUQKYIYJKJJBDMUSPHKHIFVMSSG3BB

In [35]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        #print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            500, 
            100)
        url
            
        # make the GET request
        #print(requests.get(url).json())
        group_data = requests.get(url).json().get("response").get('groups')
        
        if group_data:
            results = group_data[0].get('items')
        else:
            results=''
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v.get("venue").get("id"),
            v.get('venue').get('name'), 
            v.get('venue').get('location').get('lat'), 
            v.get('venue').get('location').get('lng'),  
            v.get('venue').get('categories')[0].get('name')) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue ID',
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [37]:
toronto_venues = getNearbyVenues(names=df3,
                                   latitudes=df3['Latitude'],
                                   longitudes=df3['Longitude']
                                  )
print(toronto_venues.shape)

print(np.unique(toronto_venues["Venue Category"],return_counts=True))

(84, 8)
(array(['Accessories Store', 'Antique Shop', 'Art Gallery',
       'Asian Restaurant', 'Bakery', 'Bank', 'Beer Store', 'Boutique',
       'Breakfast Spot', 'Brewery', 'CafÃ©', 'Carpet Store',
       'Chocolate Shop', 'Clothing Store', 'Coffee Shop',
       'Cosmetics Shop', 'Dessert Shop', 'Electronics Store',
       'Event Space', 'Farmers Market', 'Food & Drink Shop',
       'Fraternity House', 'French Restaurant', 'Furniture / Home Store',
       'Greek Restaurant', 'Gym / Fitness Center', 'Health Food Store',
       'Historic Site', 'Hockey Arena', 'Hotel', 'Ice Cream Shop',
       'Italian Restaurant', 'Mexican Restaurant', 'Miscellaneous Shop',
       'Park', 'Performing Arts Venue', 'Portuguese Restaurant', 'Pub',
       'Restaurant', 'Shoe Store', 'Spa', 'Theater',
       'Vietnamese Restaurant'], dtype=object), array([ 2,  1,  1,  1,  3,  1,  1,  2,  2,  1,  2,  2,  1,  6, 10,  1,  1,
        1,  1,  1,  1,  2,  2,  8,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,
        5,  1,  1,  3,  2,  1,  1,  2,  2]))

In [38]:
print('There are {} uniques categories.'.format(len(toronto_venues['Venue Category'].unique())))

There are 43 uniques categories.

In [39]:
toronto_restaurants_array=np.unique(toronto_venues["Venue Category"].loc[toronto_venues["Venue Category"].str.contains("Restaurant")],return_counts=True)
print(len(toronto_restaurants_array[0]))
print(toronto_restaurants_array)

8
(array(['Asian Restaurant', 'French Restaurant', 'Greek Restaurant',
       'Italian Restaurant', 'Mexican Restaurant',
       'Portuguese Restaurant', 'Restaurant', 'Vietnamese Restaurant'],
      dtype=object), array([1, 2, 1, 1, 2, 1, 2, 2]))

In [40]:
print(toronto_venues.columns)

Index(['Neighborhood', 'Neighborhood Latitude', 'Neighborhood Longitude',
       'Venue ID', 'Venue', 'Venue Latitude', 'Venue Longitude',
       'Venue Category'],
      dtype='object')

In [41]:
toronto_rest_2=toronto_venues.loc[toronto_venues["Venue Category"].str.contains("Restaurant")]
toronto_rest_2=toronto_rest_2.loc[:,["Venue","Venue Latitude","Venue Longitude","Venue Category","Venue ID"]]
toronto_rest_2.head()

,Venue,Venue Latitude,Venue Longitude,Venue Category,Venue ID
4,Portugril,43.725819,-79.312785,Portuguese Restaurant,4f3ecce6e4b0587016b6f30d
5,The Frig,43.727051,-79.317418,French Restaurant,4d689350b6f46dcb77ee15b2
11,Impact Kitchen,43.656369,-79.356980,Restaurant,5612b1cc498e3dd742af0dc8
25,El Catrin,43.650601,-79.358920,Mexican Restaurant,51ddecee498e1ffd34185d2f
26,Cocina Economica,43.654959,-79.365657,Mexican Restaurant,5542ab36498e2f92a8c248f2

In [47]:
toronto_rest_2.shape
toronto_rest_2_distinct=toronto_rest_2.drop_duplicates('Venue')
toronto_rest_3=toronto_rest_2_distinct.iloc[0:200,:]
toronto_rest_3

,Venue,Venue Latitude,Venue Longitude,Venue Category,Venue ID
4,Portugril,43.725819,-79.312785,Portuguese Restaurant,4f3ecce6e4b0587016b6f30d
5,The Frig,43.727051,-79.317418,French Restaurant,4d689350b6f46dcb77ee15b2
11,Impact Kitchen,43.656369,-79.356980,Restaurant,5612b1cc498e3dd742af0dc8
25,El Catrin,43.650601,-79.358920,Mexican Restaurant,51ddecee498e1ffd34185d2f
26,Cocina Economica,43.654959,-79.365657,Mexican Restaurant,5542ab36498e2f92a8c248f2
30,Cluny Bistro & Boulangerie,43.650565,-79.357843,French Restaurant,53a22c92498ec91fda7ce133
31,Souvlaki Express,43.655584,-79.364438,Greek Restaurant,4bc39c914cdfc9b6f29c9721
37,Archeo,43.650667,-79.359431,Italian Restaurant,4ac3e6cef964a520629d20e3
45,Izumi,43.649970,-79.360153,Asian Restaurant,50e88fc6e4b007fcbb57aae8
52,Flame Shack,43.656844,-79.358917,Restaurant,51c085d3498eadedb67ba6cd
58,Lac Vien Vietnamese Restaurant,43.721259,-79.468472,Vietnamese Restaurant,4ccc5aebee23a14370591ea8

In [51]:
CLIENT_ID = 'FWA1UIVYVSYB3NX0ZDZDT02CKWNXXS3C2VHZEDTGUX4T0FVY' # your Foursquare ID
CLIENT_SECRET = '3DOOWQS5S4GOA2AYGFLUQKYIYJKJJBDMUSPHKHIFVMSSG3BB' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: FWA1UIVYVSYB3NX0ZDZDT02CKWNXXS3C2VHZEDTGUX4T0FVY
CLIENT_SECRET:3DOOWQS5S4GOA2AYGFLUQKYIYJKJJBDMUSPHKHIFVMSSG3BB

In [52]:
def getRestaurntDetails(names,IDs):
    
    details_list=[]
    for name,ID in zip(names,IDs):
        #print(name)
            
        # create the API request URL
        url="https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}".format(
            ID,
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION         )
            
        # make the GET request
        
        group_data = requests.get(url).json()
        
        #print(group_data)
         #break
        if group_data.get("response"):
        
            #print(group_data.get("response"))
        
            
            if group_data.get("response").get("venue"):
                if group_data.get("response").get("venue").get("price"):
                    if group_data.get("response").get("venue").get("price").get("message"):
                        
                            details_list.append([(name, 
                                                  group_data.get("response").get('venue').get("price").get("message"),
                                                  group_data.get("response").get('venue').get("rating"),
                                                  group_data.get("response").get('venue').get("likes").get("count")
                                                 ) ])
                            

    
    details = pd.DataFrame([item for detail_list in details_list for item in detail_list])
    #details.head()
    #print(details)
    details.columns = ['Rest_name', 
                       'Price', 
                       'Rating' ,
                       'Likes Count'
                      ]
    
    return(details)

In [53]:
toronto_rest_details = getRestaurntDetails(toronto_rest_3.get('Venue'),
                                            toronto_rest_3.get("Venue ID")
                                  )

toronto_rest_details.head(10)

                    Rest_name           Price  Rating  Likes Count
0                   Portugril        Moderate     5.9            5
1                    The Frig       Expensive     NaN            0
2              Impact Kitchen        Moderate     8.7           51
3                   El Catrin       Expensive     8.2          465
4            Cocina Economica           Cheap     8.0           67
5  Cluny Bistro & Boulangerie  Very Expensive     8.3          182
6            Souvlaki Express        Moderate     7.6            7
7                      Archeo        Moderate     7.6           20
8                       Izumi        Moderate     7.5           17
9                 Flame Shack        Moderate     NaN            5

In [55]:
toronto_rest_3.rename(columns={"Venue":"Rest_name"},inplace=True)
toronto_rest_3.head()

,Rest_name,Venue Latitude,Venue Longitude,Venue Category,Venue ID
4,Portugril,43.725819,-79.312785,Portuguese Restaurant,4f3ecce6e4b0587016b6f30d
5,The Frig,43.727051,-79.317418,French Restaurant,4d689350b6f46dcb77ee15b2
11,Impact Kitchen,43.656369,-79.356980,Restaurant,5612b1cc498e3dd742af0dc8
25,El Catrin,43.650601,-79.358920,Mexican Restaurant,51ddecee498e1ffd34185d2f
26,Cocina Economica,43.654959,-79.365657,Mexican Restaurant,5542ab36498e2f92a8c248f2

In [56]:
toronto_rest_details2=pd.DataFrame()
#toronto_rest_onehot['Rest_name'] = toronto_rest_3['Rest_name'] 
toronto_rest_details = pd.merge(toronto_rest_details, toronto_rest_3, on='Rest_name')

toronto_rest_details2=toronto_rest_details[np.isfinite(toronto_rest_details['Rating'])]
print(toronto_rest_details2)

                         Rest_name           Price  Rating  Likes Count  \
0                        Portugril        Moderate     5.9            5
2                   Impact Kitchen        Moderate     8.7           51
3                        El Catrin       Expensive     8.2          465
4                 Cocina Economica           Cheap     8.0           67
5       Cluny Bistro & Boulangerie  Very Expensive     8.3          182
6                 Souvlaki Express        Moderate     7.6            7
7                           Archeo        Moderate     7.6           20
8                            Izumi        Moderate     7.5           17
10  Lac Vien Vietnamese Restaurant        Moderate     7.9           28

    Venue Latitude  Venue Longitude         Venue Category  \
0        43.725819       -79.312785  Portuguese Restaurant
2        43.656369       -79.356980             Restaurant
3        43.650601       -79.358920     Mexican Restaurant
4        43.654959       -79.365657     Mexican Restaurant
5        43.650565       -79.357843      French Restaurant
6        43.655584       -79.364438       Greek Restaurant
7        43.650667       -79.359431     Italian Restaurant
8        43.649970       -79.360153       Asian Restaurant
10       43.721259       -79.468472  Vietnamese Restaurant

                    Venue ID
0   4f3ecce6e4b0587016b6f30d
2   5612b1cc498e3dd742af0dc8
3   51ddecee498e1ffd34185d2f
4   5542ab36498e2f92a8c248f2
5   53a22c92498ec91fda7ce133
6   4bc39c914cdfc9b6f29c9721
7   4ac3e6cef964a520629d20e3
8   50e88fc6e4b007fcbb57aae8
10  4ccc5aebee23a14370591ea8

In [57]:
toronto_rest_details2.head()

,Rest_name,Price,Rating,Likes Count,Venue Latitude,Venue Longitude,Venue Category,Venue ID
0,Portugril,Moderate,5.9,5,43.725819,-79.312785,Portuguese Restaurant,4f3ecce6e4b0587016b6f30d
2,Impact Kitchen,Moderate,8.7,51,43.656369,-79.356980,Restaurant,5612b1cc498e3dd742af0dc8
3,El Catrin,Expensive,8.2,465,43.650601,-79.358920,Mexican Restaurant,51ddecee498e1ffd34185d2f
4,Cocina Economica,Cheap,8.0,67,43.654959,-79.365657,Mexican Restaurant,5542ab36498e2f92a8c248f2
5,Cluny Bistro & Boulangerie,Very Expensive,8.3,182,43.650565,-79.357843,French Restaurant,53a22c92498ec91fda7ce133

In [58]:
# one hot encoding
toronto_rest_onehot=pd.DataFrame()
toronto_rest_onehot = pd.get_dummies(toronto_rest_details2[['Price']], prefix="", prefix_sep="")
toronto_rest_onehot['Rest_name'] = toronto_rest_details2['Rest_name'] 
fixed_columns = [toronto_rest_onehot.columns[-1]] + list(toronto_rest_onehot.columns[:-1])
toronto_rest_onehot = toronto_rest_onehot[fixed_columns]

toronto_rest_onehot = pd.merge(toronto_rest_onehot, toronto_rest_details2, on='Rest_name')
toronto_rest_onehot.head()

,Rest_name,Cheap,Expensive,Moderate,Very Expensive,Price,Rating,Likes Count,Venue Latitude,Venue Longitude,Venue Category,Venue ID
0,Portugril,0,0,1,0,Moderate,5.9,5,43.725819,-79.312785,Portuguese Restaurant,4f3ecce6e4b0587016b6f30d
1,Impact Kitchen,0,0,1,0,Moderate,8.7,51,43.656369,-79.356980,Restaurant,5612b1cc498e3dd742af0dc8
2,El Catrin,0,1,0,0,Expensive,8.2,465,43.650601,-79.358920,Mexican Restaurant,51ddecee498e1ffd34185d2f
3,Cocina Economica,1,0,0,0,Cheap,8.0,67,43.654959,-79.365657,Mexican Restaurant,5542ab36498e2f92a8c248f2
4,Cluny Bistro & Boulangerie,0,0,0,1,Very Expensive,8.3,182,43.650565,-79.357843,French Restaurant,53a22c92498ec91fda7ce133

In [59]:
toronto_rest_onehot2=toronto_rest_onehot.loc[:,["Rest_name","Cheap",	"Expensive",	"Moderate",	"Very Expensive","Rating","Likes Count","Venue Latitude","Venue Longitude"]]
toronto_rest_onehot2.head()

,Rest_name,Cheap,Expensive,Moderate,Very Expensive,Rating,Likes Count,Venue Latitude,Venue Longitude
0,Portugril,0,0,1,0,5.9,5,43.725819,-79.312785
1,Impact Kitchen,0,0,1,0,8.7,51,43.656369,-79.356980
2,El Catrin,0,1,0,0,8.2,465,43.650601,-79.358920
3,Cocina Economica,1,0,0,0,8.0,67,43.654959,-79.365657
4,Cluny Bistro & Boulangerie,0,0,0,1,8.3,182,43.650565,-79.357843

In [60]:
toronto_rest_onehot3=toronto_rest_onehot2.loc[:,["Cheap","Expensive","Moderate","Very Expensive","Rating","Likes Count","Venue Latitude","Venue Longitude"]]

In [61]:
toronto_rest_onehot3.head(10)

,Cheap,Expensive,Moderate,Very Expensive,Rating,Likes Count,Venue Latitude,Venue Longitude
0,0,0,1,0,5.9,5,43.725819,-79.312785
1,0,0,1,0,8.7,51,43.656369,-79.356980
2,0,1,0,0,8.2,465,43.650601,-79.358920
3,1,0,0,0,8.0,67,43.654959,-79.365657
4,0,0,0,1,8.3,182,43.650565,-79.357843
5,0,0,1,0,7.6,7,43.655584,-79.364438
6,0,0,1,0,7.6,20,43.650667,-79.359431
7,0,0,1,0,7.5,17,43.649970,-79.360153
8,0,0,1,0,7.9,28,43.721259,-79.468472

In [62]:
from sklearn.preprocessing import StandardScaler

X = toronto_rest_onehot3.values[:,:]
X = np.nan_to_num(X)
cluster_dataset = StandardScaler().fit_transform(X)
cluster_dataset

array([[-0.35355339, -0.35355339,  0.70710678, -0.35355339, -2.46910109,
        -0.62755711,  1.94104714,  1.39958314],
       [-0.35355339, -0.35355339,  0.70710678, -0.35355339,  1.27917285,
        -0.30157387, -0.40759733,  0.26259494],
       [-0.35355339,  2.82842712, -1.41421356, -0.35355339,  0.60983822,
         2.6322753 , -0.6026497 ,  0.21267001],
       [ 2.82842712, -0.35355339, -1.41421356, -0.35355339,  0.34210437,
        -0.18818839, -0.4552672 ,  0.03934685],
       [-0.35355339, -0.35355339, -1.41421356,  2.82842712,  0.74370515,
         0.62676971, -0.60385432,  0.2403878 ],
       [-0.35355339, -0.35355339,  0.70710678, -0.35355339, -0.19336334,
        -0.61338393, -0.43413032,  0.07071022],
       [-0.35355339, -0.35355339,  0.70710678, -0.35355339, -0.19336334,
        -0.52125823, -0.60040106,  0.19953896],
       [-0.35355339, -0.35355339,  0.70710678, -0.35355339, -0.32723026,
        -0.542518  , -0.62398673,  0.18094817],
       [-0.35355339, -0.35355339,  0.70710678, -0.35355339,  0.20823744,
        -0.46456549,  1.78683952, -2.6057801 ]])

In [63]:
kclusters=4

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(cluster_dataset)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:30]

array([0, 0, 2, 3, 1, 0, 0, 0, 0], dtype=int32)

In [64]:
df5_toronto=pd.DataFrame()
df5_toronto["Cluster Labels"]=kmeans.labels_
df5_toronto=pd.concat([df5_toronto,toronto_rest_details2], axis=1)
df5_toronto

,Cluster Labels,Rest_name,Price,Rating,Likes Count,Venue Latitude,Venue Longitude,Venue Category,Venue ID
0,0.0,Portugril,Moderate,5.9,5.0,43.725819,-79.312785,Portuguese Restaurant,4f3ecce6e4b0587016b6f30d
1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Impact Kitchen,Moderate,8.7,51.0,43.656369,-79.356980,Restaurant,5612b1cc498e3dd742af0dc8
3,3.0,El Catrin,Expensive,8.2,465.0,43.650601,-79.358920,Mexican Restaurant,51ddecee498e1ffd34185d2f
4,1.0,Cocina Economica,Cheap,8.0,67.0,43.654959,-79.365657,Mexican Restaurant,5542ab36498e2f92a8c248f2
5,0.0,Cluny Bistro & Boulangerie,Very Expensive,8.3,182.0,43.650565,-79.357843,French Restaurant,53a22c92498ec91fda7ce133
6,0.0,Souvlaki Express,Moderate,7.6,7.0,43.655584,-79.364438,Greek Restaurant,4bc39c914cdfc9b6f29c9721
7,0.0,Archeo,Moderate,7.6,20.0,43.650667,-79.359431,Italian Restaurant,4ac3e6cef964a520629d20e3
8,0.0,Izumi,Moderate,7.5,17.0,43.649970,-79.360153,Asian Restaurant,50e88fc6e4b007fcbb57aae8
10,NaN,Lac Vien Vietnamese Restaurant,Moderate,7.9,28.0,43.721259,-79.468472,Vietnamese Restaurant,4ccc5aebee23a14370591ea8

In [65]:
df5_toronto.dropna(inplace=True)
df5_toronto.drop_duplicates(inplace=True)
df5_toronto=df5_toronto[np.isfinite(df5_toronto['Rating'])]
df5_toronto.head()

,Cluster Labels,Rest_name,Price,Rating,Likes Count,Venue Latitude,Venue Longitude,Venue Category,Venue ID
0,0.0,Portugril,Moderate,5.9,5.0,43.725819,-79.312785,Portuguese Restaurant,4f3ecce6e4b0587016b6f30d
2,2.0,Impact Kitchen,Moderate,8.7,51.0,43.656369,-79.356980,Restaurant,5612b1cc498e3dd742af0dc8
3,3.0,El Catrin,Expensive,8.2,465.0,43.650601,-79.358920,Mexican Restaurant,51ddecee498e1ffd34185d2f
4,1.0,Cocina Economica,Cheap,8.0,67.0,43.654959,-79.365657,Mexican Restaurant,5542ab36498e2f92a8c248f2
5,0.0,Cluny Bistro & Boulangerie,Very Expensive,8.3,182.0,43.650565,-79.357843,French Restaurant,53a22c92498ec91fda7ce133

In [66]:
df5_toronto.describe()

       Cluster Labels    Rating  Likes Count  Venue Latitude  Venue Longitude
count        8.000000  8.000000     8.000000        8.000000         8.000000
mean         0.750000  7.725000   101.750000       43.661817       -79.354526
std          1.164965  0.844732   157.832416        0.025991         0.017140
min          0.000000  5.900000     5.000000       43.649970       -79.365657
25%          0.000000  7.575000    14.500000       43.650592       -79.361224
50%          0.000000  7.800000    35.500000       43.652813       -79.359175
75%          1.250000  8.225000    95.750000       43.655780       -79.357627
max          3.000000  8.700000   465.000000       43.725819       -79.312785

In [67]:
df5_toronto[df5_toronto["Cluster Labels"]==3].head(20)

,Cluster Labels,Rest_name,Price,Rating,Likes Count,Venue Latitude,Venue Longitude,Venue Category,Venue ID
3,3.0,El Catrin,Expensive,8.2,465.0,43.650601,-79.35892,Mexican Restaurant,51ddecee498e1ffd34185d2f

In [68]:
df5_toronto.loc[df5_toronto["Price"]=="Cheap",:].shape

(1, 9)

In [69]:
df5_toronto.loc[df5_toronto["Price"]=="Moderate",:].shape

(5, 9)

In [70]:
df5_toronto.loc[df5_toronto["Price"]=="Expensive",:].shape

(1, 9)

In [71]:
df5_toronto.loc[df5_toronto["Price"]=="Very Expensive",:].shape

(1, 9)

In [72]:
# create map
map_clusters = folium.Map(location=[43.651070, -79.347015], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, kclusters))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(df5_toronto['Venue Latitude'], df5_toronto['Venue Longitude'], df5_toronto['Rest_name'], df5_toronto['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[int(cluster)-2],
        fill=True,
        fill_color=rainbow[int(cluster)-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [73]:
toronto_restaurants=pd.DataFrame()
toronto_restaurants["restaurant_category"]=toronto_restaurants_array[0]
toronto_restaurants["restaurant_category_count"]=toronto_restaurants_array[1]
toronto_restaurants.sort_values('restaurant_category_count',inplace=True,ascending=False)
toronto_restaurants = toronto_restaurants[toronto_restaurants.restaurant_category != "Restaurant"]
toronto_restaurants.head(10)

     restaurant_category  restaurant_category_count
1      French Restaurant                          2
4     Mexican Restaurant                          2
7  Vietnamese Restaurant                          2
0       Asian Restaurant                          1
2       Greek Restaurant                          1
3     Italian Restaurant                          1
5  Portuguese Restaurant                          1

In [76]:
!wget -q -O 'newyork_data.json' https://cocl.us/new_york_dataset
print('Data downloaded!')

Data downloaded!

In [77]:
with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)

In [78]:
neighborhoods_data = newyork_data['features']

In [79]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
nyc_neighborhoods = pd.DataFrame(columns=column_names)
nyc_neighborhoods.head()

Empty DataFrame
Columns: [Borough, Neighborhood, Latitude, Longitude]
Index: []

In [80]:
for data in neighborhoods_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    nyc_neighborhoods = nyc_neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

In [81]:
nyc_neighborhoods=nyc_neighborhoods.loc[nyc_neighborhoods["Borough"]=="Manhattan",:]
nyc_neighborhoods.head(20)

       Borough        Neighborhood   Latitude  Longitude
6    Manhattan         Marble Hill  40.876551 -73.910660
100  Manhattan           Chinatown  40.715618 -73.994279
101  Manhattan  Washington Heights  40.851903 -73.936900
102  Manhattan              Inwood  40.867684 -73.921210
103  Manhattan    Hamilton Heights  40.823604 -73.949688
104  Manhattan      Manhattanville  40.816934 -73.957385
105  Manhattan      Central Harlem  40.815976 -73.943211
106  Manhattan         East Harlem  40.792249 -73.944182
107  Manhattan     Upper East Side  40.775639 -73.960508
108  Manhattan           Yorkville  40.775930 -73.947118
109  Manhattan          Lenox Hill  40.768113 -73.958860
110  Manhattan    Roosevelt Island  40.762160 -73.949168
111  Manhattan     Upper West Side  40.787658 -73.977059
112  Manhattan      Lincoln Square  40.773529 -73.985338
113  Manhattan             Clinton  40.759101 -73.996119
114  Manhattan             Midtown  40.754691 -73.981669
115  Manhattan         Murray Hill  40.748303 -73.978332
116  Manhattan             Chelsea  40.744035 -74.003116
117  Manhattan   Greenwich Village  40.726933 -73.999914
118  Manhattan        East Village  40.727847 -73.982226

In [82]:
nyc_venues = getNearbyVenues(names=nyc_neighborhoods['Neighborhood'],
                                   latitudes=nyc_neighborhoods['Latitude'],
                                   longitudes=nyc_neighborhoods['Longitude']
                                  )
print(nyc_venues.shape)

print(np.unique(nyc_venues["Venue Category"],return_counts=True))

(3304, 8)
(array(['Accessories Store', 'Adult Boutique', 'Afghan Restaurant',
       'African Restaurant', 'American Restaurant', 'Antique Shop',
       'Arcade', 'Arepa Restaurant', 'Argentinian Restaurant',
       'Art Gallery', 'Art Museum', 'Arts & Crafts Store',
       'Asian Restaurant', 'Athletics & Sports', 'Auditorium',
       'Australian Restaurant', 'Austrian Restaurant', 'BBQ Joint',
       'Baby Store', 'Bagel Shop', 'Bakery', 'Bank', 'Bar',
       'Baseball Field', 'Basketball Court', 'Bed & Breakfast',
       'Beer Bar', 'Beer Garden', 'Beer Store', 'Big Box Store',
       'Bike Rental / Bike Share', 'Bike Shop', 'Bike Trail', 'Bistro',
       'Board Shop', 'Boat or Ferry', 'Bookstore', 'Boutique',
       'Boxing Gym', 'Brazilian Restaurant', 'Breakfast Spot',
       'Bridal Shop', 'Bridge', 'Bubble Tea Shop', 'Building',
       'Burger Joint', 'Burrito Place', 'Bus Line', 'Bus Station',
       'Butcher', 'Cafeteria', 'CafÃ©', 'Cajun / Creole Restaurant',
       'Cambodian Restaurant', 'Camera Store', 'Candy Store',
       'Cantonese Restaurant', 'Caribbean Restaurant',
       'Caucasian Restaurant', 'Cheese Shop', 'Chinese Restaurant',
       'Chocolate Shop', 'Christmas Market', 'Circus', 'Climbing Gym',
       'Clothing Store', 'Club House', 'Cocktail Bar', 'Coffee Shop',
       'College Academic Building', 'College Arts Building',
       'College Bookstore', 'College Cafeteria', 'College Theater',
       'Comedy Club', 'Community Center', 'Concert Hall',
       'Convenience Store', 'Cooking School', 'Cosmetics Shop',
       'Coworking Space', 'Creperie', 'Cuban Restaurant',
       'Cultural Center', 'Cupcake Shop', 'Cycle Studio',
       'Czech Restaurant', 'Dance Studio', 'Daycare', 'Deli / Bodega',
       'Department Store', 'Design Studio', 'Dessert Shop',
       'Dim Sum Restaurant', 'Diner', 'Discount Store', 'Dive Bar',
       "Doctor's Office", 'Dog Run', 'Donut Shop', 'Drugstore',
       'Dry Cleaner', 'Dumpling Restaurant', 'Duty-free Shop',
       'Eastern European Restaurant', 'Electronics Store',
       'Empanada Restaurant', 'English Restaurant',
       'Ethiopian Restaurant', 'Event Space', 'Exhibit',
       'Falafel Restaurant', 'Farmers Market', 'Fast Food Restaurant',
       'Filipino Restaurant', 'Financial or Legal Service', 'Fish Market',
       'Flea Market', 'Flower Shop', 'Food & Drink Shop', 'Food Court',
       'Food Stand', 'Food Truck', 'Fountain', 'French Restaurant',
       'Fried Chicken Joint', 'Frozen Yogurt Shop',
       'Furniture / Home Store', 'Gaming Cafe', 'Garden', 'Garden Center',
       'Gas Station', 'Gastropub', 'Gay Bar',
       'General College & University', 'General Entertainment',
       'German Restaurant', 'Gift Shop', 'Golf Course', 'Gourmet Shop',
       'Greek Restaurant', 'Grocery Store', 'Gym', 'Gym / Fitness Center',
       'Gym Pool', 'Gymnastics Gym', 'Harbor / Marina', 'Hardware Store',
       'Hawaiian Restaurant', 'Health & Beauty Service',
       'Health Food Store', 'Heliport', 'High School',
       'Himalayan Restaurant', 'Historic Site', 'History Museum',
       'Hobby Shop', 'Hookah Bar', 'Hostel', 'Hot Dog Joint', 'Hotel',
       'Hotel Bar', 'Hotpot Restaurant', 'Ice Cream Shop',
       'Indian Restaurant', 'Indie Movie Theater', 'Indie Theater',
       'Irish Pub', 'Israeli Restaurant', 'Italian Restaurant',
       'Japanese Curry Restaurant', 'Japanese Restaurant', 'Jazz Club',
       'Jewelry Store', 'Jewish Restaurant', 'Juice Bar', 'Karaoke Bar',
       'Kebab Restaurant', 'Kids Store', 'Kitchen Supply Store',
       'Korean Restaurant', 'Kosher Restaurant',
       'Latin American Restaurant', 'Laundry Service',
       'Leather Goods Store', 'Lebanese Restaurant', 'Library',
       'Lingerie Store', 'Liquor Store', 'Lounge', 'Malay Restaurant',
       'Market', 'Martial Arts Dojo', 'Massage Studio', 'Medical Center',
       'Mediterranean Restaurant', 'Memorial Site', "Men's Store",
       'Metro Station', 'Mexican Restaurant', 'Middle Eastern Restaurant',
       'Mini Golf', 'Miscellaneous Shop', 'Mobile Phone Shop',
       'Modern European Restaurant', 'Molecular Gastronomy Restaurant',
       'Monument / Landmark', 'Moroccan Restaurant', 'Movie Theater',
       'Museum', 'Music School', 'Music Store', 'Music Venue',
       'Nail Salon', 'New American Restaurant', 'Newsstand', 'Nightclub',
       'Non-Profit', 'Noodle House', 'Office', 'Opera House',
       'Optical Shop', 'Organic Grocery', 'Outdoor Sculpture',
       'Outdoors & Recreation', 'Paella Restaurant',
       'Pakistani Restaurant', 'Paper / Office Supplies Store', 'Park',
       'Pedestrian Plaza', 'Performing Arts Venue', 'Persian Restaurant',
       'Peruvian Restaurant', 'Pet CafÃ©', 'Pet Service', 'Pet Store',
       'Pharmacy', 'Photography Studio', 'Physical Therapist',
       'Piano Bar', 'Pie Shop', 'Pilates Studio', 'Pizza Place',
       'Playground', 'Plaza', 'Poke Place', 'Pool', 'Pub', 'Public Art',
       'Ramen Restaurant', 'Record Shop', 'Recreation Center',
       'Rental Car Location', 'Residential Building (Apartment / Condo)',
       'Resort', 'Rest Area', 'Restaurant', 'Rock Club', 'Roof Deck',
       'Russian Restaurant', 'Sake Bar', 'Salad Place',
       'Salon / Barbershop', 'Sandwich Place', 'Scandinavian Restaurant',
       'Scenic Lookout', 'School', 'Sculpture Garden',
       'Seafood Restaurant', 'Shanghai Restaurant', 'Shipping Store',
       'Shoe Store', 'Shopping Mall', 'Skate Park', 'Skating Rink',
       'Ski Shop', 'Smoke Shop', 'Smoothie Shop', 'Snack Place',
       'Soba Restaurant', 'Soccer Field', 'Social Club', 'Soup Place',
       'South American Restaurant', 'South Indian Restaurant',
       'Southern / Soul Food Restaurant', 'Spa', 'Spanish Restaurant',
       'Speakeasy', 'Spiritual Center', 'Sporting Goods Shop',
       'Sports Bar', 'Sports Club', 'Steakhouse', 'Street Art',
       'Strip Club', 'Supermarket', 'Supplement Shop', 'Sushi Restaurant',
       'Swiss Restaurant', 'Szechuan Restaurant', 'Taco Place',
       'Tailor Shop', 'Taiwanese Restaurant', 'Tapas Restaurant',
       'Tattoo Parlor', 'Tea Room', 'Tennis Court', 'Tennis Stadium',
       'Thai Restaurant', 'Theater', 'Theme Park Ride / Attraction',
       'Thrift / Vintage Store', 'Tiki Bar', 'Tourist Information Center',
       'Toy / Game Store', 'Track', 'Trail', 'Tree', 'Turkish Restaurant',
       'Udon Restaurant', 'Used Bookstore',
       'Vegetarian / Vegan Restaurant', 'Venezuelan Restaurant',
       'Veterinarian', 'Video Game Store', 'Video Store',
       'Vietnamese Restaurant', 'Volleyball Court', 'Waterfront',
       'Whisky Bar', 'Wine Bar', 'Wine Shop', 'Wings Joint',
       "Women's Store", 'Yoga Studio'], dtype=object), array([  5,   2,   1,   3,  78,   2,   1,   2,   5,  31,   4,   5,  13,
         3,   1,   5,   2,   5,   1,  21,  74,   7,  54,   1,   2,   1,
         9,   4,   4,   1,   3,   2,   1,   4,   1,   6,  26,  27,   4,
         2,   7,   3,   2,  10,   7,  27,   4,   1,   3,   2,   1,  77,
         1,   1,   2,   5,   1,   9,   2,   5,  49,   3,   1,   1,   2,
        37,   2,  65, 131,   1,   1,   1,   1,   1,   6,   1,   8,   4,
         1,  36,   1,   3,  10,   1,  11,  19,   1,   5,   1,  36,   7,
         3,  27,   4,  19,   2,   1,   2,  14,   6,   1,   1,   4,   1,
         1,   5,   1,   1,   4,   8,   9,   8,  11,   4,   3,   1,   1,
         2,   4,   3,   7,   1,  17,   2,  53,   9,   3,  21,   1,   9,
         2,   2,   9,   1,   1,   3,   3,  17,   1,  20,  20,  33,  59,
        56,   1,   1,   2,   1,   4,   7,   4,   2,   2,   1,   8,   4,
         3,   1,   1,   3,  61,  12,   3,  40,  31,   6,   5,   2,   3,
       125,   3,  48,   8,   3,   3,  19,   5,   1,   2,   1,  22,   1,
        13,   1,   2,   1,   2,  10,  10,  13,   2,   5,   9,   3,   1,
        27,   3,  10,   1,  53,   6,   1,   5,   4,   1,   1,   5,   2,
         6,   7,   3,   1,   5,   3,  25,   1,   6,   2,   8,   2,   2,
        11,   3,   1,   1,   2,   1,   5,  64,   1,  10,   1,   6,   3,
         1,  14,  11,   1,   1,   1,   1,  11,  71,  18,  19,   5,   3,
        17,   3,  19,   2,   1,   2,   4,   1,   1,  23,   6,   7,   1,
         3,  15,  20,  48,   1,   8,   5,   2,  33,   3,   3,  12,   4,
         1,   1,   1,   5,   1,   5,   1,   1,   1,   3,   1,   1,   3,
        46,  18,  14,   1,  18,   2,   1,  27,   3,   2,  12,   4,  44,
         1,   3,  13,   3,   2,   9,   3,   8,   5,   2,  26,  28,   1,
         3,   2,   1,   7,   1,   4,   1,   6,   2,   2,  23,   1,   1,
         1,   1,  21,   1,   1,   2,  43,  44,   2,  17,  34]))

In [83]:
print('There are {} uniques categories.'.format(len(nyc_venues['Venue Category'].unique())))

There are 336 uniques categories.

In [84]:
nyc_restaurants_array=np.unique(nyc_venues["Venue Category"].loc[nyc_venues["Venue Category"].str.contains("Restaurant")],return_counts=True)
print(len(nyc_restaurants_array[0]))
print(nyc_restaurants_array)

77
(array(['Afghan Restaurant', 'African Restaurant', 'American Restaurant',
       'Arepa Restaurant', 'Argentinian Restaurant', 'Asian Restaurant',
       'Australian Restaurant', 'Austrian Restaurant',
       'Brazilian Restaurant', 'Cajun / Creole Restaurant',
       'Cambodian Restaurant', 'Cantonese Restaurant',
       'Caribbean Restaurant', 'Caucasian Restaurant',
       'Chinese Restaurant', 'Cuban Restaurant', 'Czech Restaurant',
       'Dim Sum Restaurant', 'Dumpling Restaurant',
       'Eastern European Restaurant', 'Empanada Restaurant',
       'English Restaurant', 'Ethiopian Restaurant', 'Falafel Restaurant',
       'Fast Food Restaurant', 'Filipino Restaurant', 'French Restaurant',
       'German Restaurant', 'Greek Restaurant', 'Hawaiian Restaurant',
       'Himalayan Restaurant', 'Hotpot Restaurant', 'Indian Restaurant',
       'Israeli Restaurant', 'Italian Restaurant',
       'Japanese Curry Restaurant', 'Japanese Restaurant',
       'Jewish Restaurant', 'Kebab Restaurant', 'Korean Restaurant',
       'Kosher Restaurant', 'Latin American Restaurant',
       'Lebanese Restaurant', 'Malay Restaurant',
       'Mediterranean Restaurant', 'Mexican Restaurant',
       'Middle Eastern Restaurant', 'Modern European Restaurant',
       'Molecular Gastronomy Restaurant', 'Moroccan Restaurant',
       'New American Restaurant', 'Paella Restaurant',
       'Pakistani Restaurant', 'Persian Restaurant',
       'Peruvian Restaurant', 'Ramen Restaurant', 'Restaurant',
       'Russian Restaurant', 'Scandinavian Restaurant',
       'Seafood Restaurant', 'Shanghai Restaurant', 'Soba Restaurant',
       'South American Restaurant', 'South Indian Restaurant',
       'Southern / Soul Food Restaurant', 'Spanish Restaurant',
       'Sushi Restaurant', 'Swiss Restaurant', 'Szechuan Restaurant',
       'Taiwanese Restaurant', 'Tapas Restaurant', 'Thai Restaurant',
       'Turkish Restaurant', 'Udon Restaurant',
       'Vegetarian / Vegan Restaurant', 'Venezuelan Restaurant',
       'Vietnamese Restaurant'], dtype=object), array([  1,   3,  78,   2,   5,  13,   5,   2,   2,   1,   1,   1,   9,
         2,  49,  10,   1,   4,   4,   1,   1,   1,   4,   8,   4,   3,
        53,   3,  20,   4,   1,   3,  31,   3, 125,   3,  48,   3,   1,
        22,   1,  13,   1,   2,  27,  53,   6,   1,   1,   2,  25,   2,
         1,   1,   6,  19,  23,   1,   1,  33,   3,   1,   1,   1,   3,
        18,  44,   1,   3,   2,   9,  26,   6,   2,  23,   1,  21]))

In [85]:
nyc_rest_2=nyc_venues.loc[nyc_venues["Venue Category"].str.contains("Restaurant")]
nyc_rest_2=nyc_rest_2.loc[:,["Venue","Venue Latitude","Venue Longitude","Venue Category","Venue ID"]]
nyc_rest_2.head()

,Venue,Venue Latitude,Venue Longitude,Venue Category,Venue ID
6,Land & Sea Restaurant,40.877885,-73.905873,Seafood Restaurant,4b9c9c6af964a520b27236e3
12,Boston Market,40.877430,-73.905412,American Restaurant,585c205665e7c70a2f1055ea
25,Kiki's,40.714476,-73.992036,Greek Restaurant,5521c2ff498ebe2368634187
28,Spicy Village,40.717010,-73.993530,Chinese Restaurant,4db3374590a0843f295fb69b
32,The Fat Radish,40.715323,-73.991950,English Restaurant,4c9d482e46978cfa8247967f

In [86]:
nyc_rest_2.shape
nyc_rest_2_distinct=nyc_rest_2.drop_duplicates('Venue')
nyc_rest_3=nyc_rest_2_distinct.iloc[0:200,:]
nyc_rest_3

,Venue,Venue Latitude,Venue Longitude,Venue Category,Venue ID
6,Land & Sea Restaurant,40.877885,-73.905873,Seafood Restaurant,4b9c9c6af964a520b27236e3
12,Boston Market,40.877430,-73.905412,American Restaurant,585c205665e7c70a2f1055ea
25,Kiki's,40.714476,-73.992036,Greek Restaurant,5521c2ff498ebe2368634187
28,Spicy Village,40.717010,-73.993530,Chinese Restaurant,4db3374590a0843f295fb69b
32,The Fat Radish,40.715323,-73.991950,English Restaurant,4c9d482e46978cfa8247967f
35,Xi'an Famous Foods,40.715232,-73.997263,Chinese Restaurant,5894c9a15e56b417cf79e553
37,Wah Fung Number 1 Fast Food è¯è±å¿«é£¯åº,40.717278,-73.994177,Chinese Restaurant,4a96bf8ff964a520ce2620e3
39,Forgtmenot,40.714459,-73.991546,New American Restaurant,4fd38a04e4b065401a9aaf88
42,Dimes,40.714830,-73.991719,American Restaurant,522dfe8b7e4826517408a264
44,Little Sheep Mongolian Hot Pot,40.717639,-73.995187,Hotpot Restaurant,57a29225498e96334ebe06d9
47,Cervo's,40.714763,-73.991455,Spanish Restaurant,59480a78f62e090a3b4d6eb7
51,Grand Seoul,40.717447,-73.994256,Korean Restaurant,5b4169604a1cc0002c9bdb7c
54,Ling Kee,40.714713,-73.991538,Asian Restaurant,4b89ac72f964a520e94a32e3
56,Wayla,40.718291,-73.992584,Thai Restaurant,5cc4e9d0c876c8002c3010cb
57,The Commissary,40.715004,-73.991010,American Restaurant,572bcbaa498e16431ad34a61
62,Great N.Y. Noodletown,40.715039,-73.996941,Chinese Restaurant,3fd66200f964a520b1ea1ee3
63,Simple,40.718145,-73.991988,Asian Restaurant,574f2ae0498ec2a700651b95
65,Jing Fong Restaurant éè±å¤§é æ¨,40.715881,-73.997209,Dim Sum Restaurant,3fd66200f964a520d5e31ee3
66,Yi Ji Shi Mo Noodle Corp,40.718254,-73.995930,Chinese Restaurant,5c965dad5455b2002c058659
69,Joe's Shanghai é¹¿åæ¥,40.714692,-73.997701,Chinese Restaurant,3fd66200f964a52067e61ee3
72,Bacaro,40.714468,-73.991589,Italian Restaurant,472a027af964a520ea4b1fe3
73,l'estudio,40.715720,-73.990332,American Restaurant,587996ef0923920c21ea4603
76,New Malaysia,40.715787,-73.996905,Malay Restaurant,4bb92a9453649c74dacb47fb
78,BÃªp GÃ,40.717226,-73.993826,Vietnamese Restaurant,58b096c25804ea3ce7671d47
80,The Flower Shop,40.718057,-73.992060,American Restaurant,583e5099b21014593fb544b0
81,99 Favor Taste 99èé¤å»³,40.717560,-73.992580,Hotpot Restaurant,530ff20411d2a01b7bb8a19c
82,Nam Son Vietnamese Restaurant,40.718215,-73.994345,Vietnamese Restaurant,4a7e3d0cf964a52088f11fe3
87,Kopitiam,40.713974,-73.990868,Malay Restaurant,5b33b3c74a7aae002cb0611d
88,Phá» Grand,40.717824,-73.992801,Vietnamese Restaurant,4388f700f964a520162b1fe3
90,Zest Ramen,40.718145,-73.991978,Ramen Restaurant,5a506d2318d43b4d678a46ff
92,Vanessa's Dumpling House,40.718316,-73.991885,Dumpling Restaurant,49eeaf08f964a52078681fe3
100,Cafe Katja,40.717722,-73.990497,Austrian Restaurant,49c3a162f964a52067561fe3
103,Shinka Ramen & Sake Bar,40.717147,-73.995206,Japanese Restaurant,5a1e0dddb2958f1efac02a71
104,Hou Yi Hot Pot,40.716374,-73.992509,Hotpot Restaurant,4bf1ae60324cc9b6b652cc92
106,JaJaJa Plantas Mexicana,40.714198,-73.990157,Mexican Restaurant,58f55261419a9e48f4dd0706
107,Shanghai CafÃ© Deluxe,40.717334,-73.997485,Chinese Restaurant,46936ee3f964a520d0481fe3
108,Shu Jiao Fu Zhou Cuisine æ½­é ­çç¦å·å°å (Shu Jiao Fu ...,40.718432,-73.991701,Dumpling Restaurant,4b391426f964a520ae5525e3
110,Pho Vietnam,40.717530,-73.994128,Vietnamese Restaurant,53aee20d498e6744c341c483
114,Orchard Grocer,40.717847,-73.990358,Vegetarian / Vegan Restaurant,589bb0fddfa6ff5e1dc8649f
115,Big Wong King å¤§æº,40.716196,-73.998303,Chinese Restaurant,3fd66200f964a520ede41ee3
116,Factory Tamal,40.715876,-73.990467,Mexican Restaurant,5885471a0037eb3b6c2973d2
117,Nom Wah Tea Parlor,40.714512,-73.998235,Dim Sum Restaurant,49f220a3f964a520ee691fe3
120,House Special çä¾é£¯åº,40.717801,-73.996846,Chinese Restaurant,59ad625a2619ee5cdded881f
121,Taiwan Pork Chop House èºç£æ­¦æå¥½å³é,40.714368,-73.997869,Taiwanese Restaurant,49f61fe9f964a520046c1fe3
122,Shanghai 21,40.714423,-73.998904,Shanghai Restaurant,4bcf9774a8b3a5939497625f
123,Wu's Wonton King,40.713992,-73.990169,Cantonese Restaurant,56a96c6f498e5f93f0a505fd
125,The Uptown Garrison,40.851255,-73.939473,Restaurant,59f76cd528374e40d82f761b
129,Saggio Restaurant,40.851423,-73.939761,Italian Restaurant,4d21107c6e8c37042b58ff9f
132,Tampopo Ramen,40.850693,-73.936568,Ramen Restaurant,55d65695498ed8dc09c5b010
140,The Pandering Pig,40.855226,-73.937793,American Restaurant,56e213e1498e8b403c8bb16a
143,Las Tapas,40.855234,-73.937284,Tapas Restaurant,54405a3e498e5d4a84ee266c
148,181 Cabrini,40.851251,-73.940343,New American Restaurant,49f925bdf964a520656d1fe3
149,La Casa del Mofongo,40.850267,-73.933145,Caribbean Restaurant,4afcba6af964a5206d2522e3
150,La Cabana Salvadorena,40.854334,-73.933677,Latin American Restaurant,4c16d2ec5e88c928c5ca2466
151,Kismat Indian Restaurant,40.855222,-73.936967,Indian Restaurant,4ae7876ef964a5201eac21e3
155,El Guanaco Restaurant Pupuseria,40.848216,-73.938164,Latin American Restaurant,4debcfd645dd3993a8af6691
158,Terravita,40.848059,-73.937645,New American Restaurant,5b57bb361acf11002c14ba96
159,Lucky 7 Tapas Bar,40.850447,-73.933030,Tapas Restaurant,4e8d32ebb803ca3dfcbd112e
160,Punto de Sabor Restaurant,40.850740,-73.932470,Spanish Restaurant,4bb8cdb053649c74465847fb
162,Yang Garden,40.855309,-73.937832,Chinese Restaurant,4b292f38f964a520939a24e3
169,Mambi Steak House Bar & Grill,40.847615,-73.938143,Spanish Restaurant,4acce300f964a520e2c920e3
172,Marisco Centro (Seafood Restaurant & Fish Market),40.851332,-73.931864,Seafood Restaurant,4bdcc53e03be20a1c7b2849b
174,Sushi Yu II,40.851255,-73.939652,Sushi Restaurant,4a4a642cf964a520bdab1fe3
178,Refried Beans Mexican Restaurant,40.855039,-73.937031,Mexican Restaurant,4b2c33d0f964a520aac324e3
188,Tu Cachapa,40.848210,-73.937743,Arepa Restaurant,51fe8bf6498ec4be7954093c
195,Mi Ranchito,40.850940,-73.932701,Mexican Restaurant,4ee2bbe8775b86c4028dec5d
205,Silver Palace,40.849811,-73.933534,Chinese Restaurant,4ba411c8f964a5202d7e38e3
217,Guadalupe Bar and Grill,40.867334,-73.920863,Mexican Restaurant,4b0885d1f964a520a20d23e3
224,fantastic lounge,40.866297,-73.919626,Latin American Restaurant,536d733b498ed4eaf742c67e
231,La Reina Del Chicharron,40.866357,-73.925012,Spanish Restaurant,4c043cd3f423a593955dd116
233,Inwood Bar and Grill,40.867044,-73.922570,Restaurant,56218101498e22966bef8816
235,The Tubby Hook,40.867816,-73.920739,American Restaurant,5814dc8ed67ca5038583da78
236,Made in Mexico,40.867275,-73.917090,Mexican Restaurant,53e58cd0498e01b8fae39b41
239,Guacamole,40.869659,-73.916736,Mexican Restaurant,5830ff3044587f7beb2271cc
243,Genesis Autentica Comida Ecuatoriana,40.865498,-73.919842,Restaurant,4d6ab34b994f224bc1cb0beb
246,Pick & Eat,40.867614,-73.921253,American Restaurant,55bd166d498ea08336045553
248,La Nueva EspaÃ±a,40.867350,-73.921032,Spanish Restaurant,4becab8e0ddaa59385ec1dc3
251,"""U"" Like",40.867532,-73.921566,Chinese Restaurant,4bd5f4d229eb9c74c64594e1
252,Empanadas Monumental,40.865249,-73.919673,Empanada Restaurant,4d9b780b91863704ffd522f9
253,Lotus Express,40.866280,-73.924567,Chinese Restaurant,4b9aeeedf964a52086e435e3
254,El Tina Seafood Restaurant,40.864460,-73.919098,Seafood Restaurant,4bb93e047421a5933fa7c240
256,Republica,40.864979,-73.923078,Restaurant,5905688f75eee432182b4fc9
257,John's Fried Chicken,40.864796,-73.919470,Fast Food Restaurant,4bf4b935e5eba593d40c2090
259,Azteca,40.864000,-73.919124,Mexican Restaurant,4d824d2dbede548186840fd1
263,Floridita Resturant,40.863971,-73.919354,Caribbean Restaurant,4e7e1c49b6345aca1fd69166
274,Fumo,40.821412,-73.950499,Italian Restaurant,56d8e01d498ef1500ae7fbfe
275,Watâs On Your Plate,40.825632,-73.948494,Caribbean Restaurant,4eb32c34e5fa17fc85cc483f
278,Oso,40.821945,-73.950038,Mexican Restaurant,57274808498e7db363dcc4bc
282,Frijolito's,40.823413,-73.952278,Mexican Restaurant,575a15f6498e0db46deded82
284,Geisha Japanese Cuisine,40.824355,-73.951993,Japanese Restaurant,531a0207498e06b4656eb8c5
287,Trufa,40.823084,-73.952952,Mediterranean Restaurant,4da8ee246e81162ae7b15710
289,One Stop Patty Shop,40.825014,-73.947721,Caribbean Restaurant,4a7a35faf964a520dee81fe3
290,La Nueva Flor de Broadway,40.821896,-73.953782,Latin American Restaurant,4a177beff964a5205e791fe3
296,Clove Indian Restaurant & Bar,40.821280,-73.950620,Indian Restaurant,54c2bd96498eaf5142e3fe92
297,Chopped Parsley,40.825911,-73.947454,Sushi Restaurant,5674592d498e85f07427e61b
304,Famous Fish Market,40.823648,-73.944723,Seafood Restaurant,4ae34b92f964a520f99221e3
310,King's Wok,40.827566,-73.949766,Chinese Restaurant,4cd76fd7dfb4a1cd7195645c
311,Caridad Restaurant,40.826307,-73.950852,Spanish Restaurant,4a2edc71f964a5206f981fe3
312,MamaSushi,40.827392,-73.949839,Sushi Restaurant,577875a2498e0a21a3ef1a97
313,Agave Mexican & American Grill,40.824210,-73.945222,Mexican Restaurant,534aace3498e249ceb4111dc
314,Mumbai Masala,40.826928,-73.946713,Indian Restaurant,5914ff32b23dfa207eca38de
318,Golden Wok,40.826960,-73.946401,Chinese Restaurant,4c0b25636071a59342ece032
325,Checkers,40.823993,-73.945050,Fast Food Restaurant,52463a94498eeb73e959e43b
329,Jin Ramen,40.815406,-73.958547,Ramen Restaurant,4f29cf06e4b022d4180801f3
336,Pisticci Ristorante,40.814015,-73.960266,Italian Restaurant,457f1183f964a5204b3f1fe3
338,Go! Go! Curry!,40.815473,-73.958234,Japanese Curry Restaurant,57a4cbac498ee795c5d0b864
339,Chapati House - NYC,40.814572,-73.959154,Indian Restaurant,529d382a11d2dd5ef107e641
340,El Porton,40.814399,-73.959330,Mexican Restaurant,4acfe332f964a520afd620e3
341,El Puerto Seafood and Fish Market,40.813861,-73.956737,Seafood Restaurant,4b92dc43f964a5204c2234e3
343,Bettolona,40.814084,-73.959574,Italian Restaurant,4c956003f7cfa1cd2e2ebd15
345,La Salle Dumpling Room,40.814060,-73.959701,Dumpling Restaurant,56c51b0dcd101a6260e3c543
346,Sushi Sushi,40.818595,-73.952721,Sushi Restaurant,51573e61e4b06ee00f00307b
349,Mofongo del Valle,40.820317,-73.954977,Spanish Restaurant,4b55274bf964a52006dd27e3
350,Chinelos,40.820190,-73.953769,Mexican Restaurant,4bd4e5076798ef3b92a6628d
352,Toast 125,40.814860,-73.959400,American Restaurant,3fd66200f964a52067e81ee3
356,Seafood Restaurant,40.813933,-73.956374,Seafood Restaurant,4fa97e00e4b08cc7d9d73ce6
357,Harlem's Floridita,40.817998,-73.960982,Cuban Restaurant,50cd10ffe4b0981e0a1a1c9e
358,China Place,40.814038,-73.959549,Chinese Restaurant,4b21974df964a520833e24e3
369,New Home Sing,40.820491,-73.954530,Chinese Restaurant,4f177ab5e4b01130e70c27cf
372,Belle Harlem,40.816890,-73.942680,American Restaurant,57f9286fcd10f93045e82291
375,Yatenga,40.814306,-73.944430,French Restaurant,4b80389ff964a520e95d30e3
377,Abyssinia Restaurant,40.816308,-73.946054,Ethiopian Restaurant,4f777eb7e4b055c760bb7d39
378,Ponty Bistro Harlem,40.817886,-73.941522,African Restaurant,53e01975498e78c0915599bf
389,The Edge Harlem,40.819692,-73.946073,American Restaurant,541c683e498ef421d4e16eb3
390,Renaissance Harlem,40.813414,-73.944984,French Restaurant,59cc6158c0af57432b9fd02b
392,Jerkyz,40.818177,-73.941481,Caribbean Restaurant,5645609b498e47952f22cd7d
393,Keur Sokhna,40.813556,-73.945001,African Restaurant,4c2fdced452620a120551e0f
396,Crispy Bamboo Village,40.816278,-73.946938,Chinese Restaurant,4bf348fce5eba593c8711e90
402,88 Chinese Restaurant,40.813187,-73.941467,Chinese Restaurant,4bd1f6909854d13a38a2fa4d
403,LightHouse Fish Market & Restaurant,40.814267,-73.948153,Seafood Restaurant,53b86577498e69be2ef130c7
404,Africa Kine Restaurant,40.813728,-73.944426,African Restaurant,4a9ea132f964a520ad3a20e3
406,Londel's Restaurant,40.819390,-73.944440,Southern / Soul Food Restaurant,4ad22304f964a5209bdf20e3
407,House Of Seafood,40.811921,-73.942544,Seafood Restaurant,4e4cd087bd413c4cc66c6000
412,Tio Luca Cocina Bistro Latino,40.811649,-73.942832,Tapas Restaurant,51b3f56c7dd23d8b83b48211
416,Lupita's Restaurant,40.790159,-73.942930,Mexican Restaurant,53892262498ef00115e1cb9d
417,Malii,40.789525,-73.943232,Thai Restaurant,55a85a66498e68da40bc7212
418,Cascolate Latin Bistro,40.792787,-73.940830,Mexican Restaurant,5221402b11d2f5e7ec7c37e8
421,Amor Cubano,40.794829,-73.942536,Cuban Restaurant,4a6908c3f964a5207ecb1fe3
422,Mountain Bird,40.793851,-73.939942,French Restaurant,553c1b00498e7eb81316bf1b
424,El Aguila,40.790464,-73.947602,Mexican Restaurant,4ed825e98231efe38cad7306
426,El Chevere Cuchifritos,40.793994,-73.942971,Latin American Restaurant,4eebcde88b81bbbf5b3b9e19
429,Cafe Ollin,40.791066,-73.939595,Mexican Restaurant,4b4b5e8cf964a520039926e3
432,El Caribeno,40.791550,-73.946723,Spanish Restaurant,4bc65c9cdb8fa593be479c37
435,Bangklyn East Harlem,40.790287,-73.943054,Thai Restaurant,5a68fb506336be407ef635ab
437,Lechonera El Barrio,40.789868,-73.946527,Latin American Restaurant,4b1eb2b7f964a520041e24e3
442,Absolute Thai Restaurant,40.789202,-73.948440,Thai Restaurant,5303fc3c11d250deaaf46b56
444,Brisas Del Mar,40.795171,-73.944249,Seafood Restaurant,4cb6084bb315a09336f89876
445,Ranch Market,40.794385,-73.949010,Restaurant,4e4418ef1838e44e89884745
453,Jalepeno Deli,40.790157,-73.947847,Mexican Restaurant,4baaaaa2f964a520327e3ae3
456,Sant Ambroeus,40.775328,-73.962819,Italian Restaurant,4a22d7f9f964a520977d1fe3
457,Candle 79,40.774896,-73.958694,Vegetarian / Vegan Restaurant,467e1d72f964a5200f481fe3
470,The Mark Restaurant by Jean-Georges,40.775219,-73.963381,American Restaurant,4b7f36b5f964a520a31f30e3
473,Kappo Masa,40.774527,-73.963466,Japanese Restaurant,542efa85498ea11026c9746c
474,CafÃ© Boulud,40.774460,-73.963893,French Restaurant,3fd66200f964a5207fe91ee3
476,Flex Mussels,40.776337,-73.956430,Seafood Restaurant,4a593996f964a5200ab91fe3
480,Toloache 82,40.776566,-73.956642,Mexican Restaurant,4e972a527bebee95ad73a290
481,Antonucci,40.775711,-73.956607,Italian Restaurant,4b3bedfaf964a5209e7e25e3
483,Dulce Vida Latin Bistro,40.777168,-73.957293,Latin American Restaurant,4d3b411f34ee37044203819b
486,Eli's Table,40.775043,-73.956808,American Restaurant,548485f6498eee3c9eaa5dbf
488,Sushi Noz,40.773786,-73.958118,Sushi Restaurant,5a8c6e6fb6b04b2d4e648ccb
494,Flora Bar,40.773596,-73.964194,Mediterranean Restaurant,57fff845d67c8ac5e8f772cb
498,The Simone,40.776918,-73.956911,French Restaurant,533b5715498ee1e90e846e1d
506,Beyoglu,40.775518,-73.956358,Turkish Restaurant,49eb9b35f964a52001671fe3
507,Parma Restaurant,40.774930,-73.957210,Italian Restaurant,4ab972d6f964a520697f20e3
509,Orsay,40.772423,-73.960699,French Restaurant,4408540af964a52055301fe3
512,Sistina,40.777597,-73.961685,Italian Restaurant,57d9ddfe498e8a66d21ce8bb
524,Pig Heaven,40.775450,-73.956839,Chinese Restaurant,5465906e498e0cb221c063e1
530,Tiramisu,40.774946,-73.956932,Italian Restaurant,49fcd632f964a520e36e1fe3
531,Caffe Buon Gusto - Manhattan,40.772498,-73.956994,Italian Restaurant,4a6133a6f964a52015c21fe3
533,Amber,40.774985,-73.956928,Sushi Restaurant,4aa29d9cf964a520f94120e3
540,Candle Cafe,40.771407,-73.959138,Vegetarian / Vegan Restaurant,3fd66200f964a52088e91ee3
546,Caffe Grazie,40.779538,-73.959986,Italian Restaurant,4b23ee1ef964a520255d24e3
548,Mexicue,40.775332,-73.956220,Mexican Restaurant,5bd27258a0215b002cf27c4f
551,Giovanni Venti Cinque,40.779094,-73.960608,Italian Restaurant,4b91a94bf964a520ddcd33e3
561,Peng's Noodle Folk,40.777258,-73.949110,Asian Restaurant,579fb23f498e7f9f1b7bd04c
573,Felice 83,40.774867,-73.950868,Italian Restaurant,4e4078922271a89dd083d07e
575,Poke Restaurant,40.776508,-73.950548,Sushi Restaurant,4a0d5a23f964a52077751fe3
576,nica trattoria,40.775688,-73.950570,Italian Restaurant,4b623700f964a520a83c2ae3
577,PuTawn Local Thai Kitchen,40.774599,-73.951042,Thai Restaurant,57f81d9e498e82d3766ccce8
579,Pho Shop,40.778669,-73.948111,Vietnamese Restaurant,57cde924498e8a03be8925a9
586,Luna Rossa,40.776544,-73.950326,Italian Restaurant,4dcf3f00d22deadedd682925
590,83 1/2,40.775206,-73.951232,Italian Restaurant,504bb0fae4b0d1cf33ca07d0
596,Maz Mezcal,40.777604,-73.950982,Mexican Restaurant,49f33ef2f964a520766a1fe3
598,Heidelberg Restaurant,40.777532,-73.951979,German Restaurant,439e1fd8f964a520092c1fe3
600,Italianissimo Ristorante,40.776351,-73.952179,Italian Restaurant,4b651459f964a52030e32ae3
601,Elio's,40.776783,-73.952736,Italian Restaurant,4b981d9af964a520802d35e3
606,Cafe D'Alsace,40.779152,-73.951069,French Restaurant,467ffefcf964a52019481fe3
609,Ichiro,40.778901,-73.950843,Japanese Restaurant,4b3fdfc8f964a5200ab125e3
611,Donguri Restaurant,40.775678,-73.952478,Japanese Restaurant,4bd0fe22a8b3a593a123655f
615,Pio Pio,40.779887,-73.947202,Peruvian Restaurant,4a1a1373f964a5207e7a1fe3
618,Vietnaam,40.779198,-73.950731,Vietnamese Restaurant,52e54ed3498ed43181ee85b0
625,La Pulperia,40.776612,-73.952279,Latin American Restaurant,54178ea6498ee6e41f282042
627,Mumtaz,40.774134,-73.948227,Indian Restaurant,4e221f671495f18f035610f6
629,Sabor a Mexico,40.779691,-73.947354,Mexican Restaurant,4c1fbbd9b4e62d7f2c19e093
633,Inase Sushi,40.774607,-73.950992,Japanese Restaurant,4bc11982b492d13ad88fa560
637,Sumela Mediterranean Cafe & Grill,40.775117,-73.950642,Turkish Restaurant,598085d9ee628b12e387482a
641,Yummy Sushi,40.780214,-73.947012,Sushi Restaurant,4bce0d1129d4b71315dca7dc
645,The Writing Room,40.779401,-73.950698,New American Restaurant,52373a1411d27541297b921e
646,Noodle Fun,40.779795,-73.947454,Chinese Restaurant,536e6f06498eaee664b4938e
651,Hummus Kitchen,40.776372,-73.952828,Mediterranean Restaurant,4a355b56f964a520dc9c1fe3

In [87]:
nyc_rest_details = getRestaurntDetails(nyc_rest_3.get('Venue'),
                                       nyc_rest_3.get("Venue ID")
                                  )

nyc_rest_details.head(10)

                           Rest_name     Price  Rating  Likes Count
0              Land & Sea Restaurant  Moderate     7.5           42
1                      Boston Market  Moderate     7.1            4
2                             Kiki's  Moderate     9.3          825
3                      Spicy Village     Cheap     8.7          498
4                     The Fat Radish  Moderate     8.4          716
5                 Xi'an Famous Foods     Cheap     8.9          101
6  Wah Fung Number 1 Fast Food è¯è±å¿«é£¯åº     Cheap     8.3          185
7                         Forgtmenot  Moderate     8.9          507
8                              Dimes  Moderate     8.5          643
9                            Cervo's  Moderate     8.6           92

In [88]:
nyc_rest_3.rename(columns={"Venue":"Rest_name"},inplace=True)
nyc_rest_3.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

,Rest_name,Venue Latitude,Venue Longitude,Venue Category,Venue ID
6,Land & Sea Restaurant,40.877885,-73.905873,Seafood Restaurant,4b9c9c6af964a520b27236e3
12,Boston Market,40.877430,-73.905412,American Restaurant,585c205665e7c70a2f1055ea
25,Kiki's,40.714476,-73.992036,Greek Restaurant,5521c2ff498ebe2368634187
28,Spicy Village,40.717010,-73.993530,Chinese Restaurant,4db3374590a0843f295fb69b
32,The Fat Radish,40.715323,-73.991950,English Restaurant,4c9d482e46978cfa8247967f

In [89]:
nyc_rest_details.drop_duplicates()
nyc_rest_details.head(10)

                           Rest_name     Price  Rating  Likes Count
0              Land & Sea Restaurant  Moderate     7.5           42
1                      Boston Market  Moderate     7.1            4
2                             Kiki's  Moderate     9.3          825
3                      Spicy Village     Cheap     8.7          498
4                     The Fat Radish  Moderate     8.4          716
5                 Xi'an Famous Foods     Cheap     8.9          101
6  Wah Fung Number 1 Fast Food è¯è±å¿«é£¯åº     Cheap     8.3          185
7                         Forgtmenot  Moderate     8.9          507
8                              Dimes  Moderate     8.5          643
9                            Cervo's  Moderate     8.6           92

In [90]:
nyc_rest_details.shape

(37, 4)

In [91]:
nyc_rest_details2=pd.DataFrame()
#toronto_rest_onehot['Rest_name'] = toronto_rest_3['Rest_name'] 
nyc_rest_details = pd.merge(nyc_rest_details, nyc_rest_3, on='Rest_name')

nyc_rest_details2=nyc_rest_details[np.isfinite(nyc_rest_details['Rating'])]
print(nyc_rest_details2)

                                            Rest_name      Price  Rating  \
0                               Land & Sea Restaurant   Moderate     7.5
1                                       Boston Market   Moderate     7.1
2                                              Kiki's   Moderate     9.3
3                                       Spicy Village      Cheap     8.7
4                                      The Fat Radish   Moderate     8.4
5                                  Xi'an Famous Foods      Cheap     8.9
6                   Wah Fung Number 1 Fast Food è¯è±å¿«é£¯åº      Cheap     8.3
7                                          Forgtmenot   Moderate     8.9
8                                               Dimes   Moderate     8.5
9                                             Cervo's   Moderate     8.6
10                                        Grand Seoul   Moderate     8.1
11                                           Ling Kee   Moderate     8.4
12                                              Wayla   Moderate     9.2
13                                     The Commissary   Moderate     8.5
14                              Great N.Y. Noodletown      Cheap     8.0
15                                             Simple   Moderate     9.1
16                         Jing Fong Restaurant éè±å¤§éæ¨   Moderate     8.1
17                           Yi Ji Shi Mo Noodle Corp      Cheap     8.8
18                                 Joe's Shanghai é¹¿åæ¥   Moderate     8.5
19                                             Bacaro   Moderate     8.1
20                                          l'estudio   Moderate     8.8
21                                       New Malaysia   Moderate     7.9
22                                             BÃªp GÃ    Moderate     7.8
23                                    The Flower Shop   Moderate     8.6
24                               99 Favor Taste 99èé¤å»³   Moderate     8.1
25                      Nam Son Vietnamese Restaurant      Cheap     8.2
26                                           Kopitiam   Moderate     8.6
27                                          Phá» Grand      Cheap     8.1
28                           Vanessa's Dumpling House      Cheap     8.7
29                                         Cafe Katja  Expensive     9.0
30                            Shinka Ramen & Sake Bar   Moderate     7.6
31                                     Hou Yi Hot Pot   Moderate     7.6
32                            JaJaJa Plantas Mexicana      Cheap     8.7
33                               Shanghai CafÃ© Deluxe      Cheap     8.2
34  Shu Jiao Fu Zhou Cuisine æ½­é ­çç¦å·å°å (Shu Jiao Fu ...      Cheap     8.7
35                                        Pho Vietnam   Moderate     7.6
36                                     Orchard Grocer   Moderate     9.1

    Likes Count  Venue Latitude  Venue Longitude  \
0            42       40.877885       -73.905873
1             4       40.877430       -73.905412
2           825       40.714476       -73.992036
3           498       40.717010       -73.993530
4           716       40.715323       -73.991950
5           101       40.715232       -73.997263
6           185       40.717278       -73.994177
7           507       40.714459       -73.991546
8           643       40.714830       -73.991719
9            92       40.714763       -73.991455
10           11       40.717447       -73.994256
11           22       40.714713       -73.991538
12           89       40.718291       -73.992584
13           46       40.715004       -73.991010
14          539       40.715039       -73.996941
15          164       40.718145       -73.991988
16          994       40.715881       -73.997209
17           18       40.718254       -73.995930
18         1302       40.714692       -73.997701
19          192       40.714468       -73.991589
20           64       40.715720       -73.990332
21          170       40.715787       -73.996905
22           47       40.717226       -73.993826
23          236       40.718057       -73.992060
24          467       40.717560       -73.992580
25          202       40.718215       -73.994345
26          153       40.713974       -73.990868
27          383       40.717824       -73.992801
28         1186       40.718316       -73.991885
29          366       40.717722       -73.990497
30           14       40.717147       -73.995206
31          165       40.716374       -73.992509
32          172       40.714198       -73.990157
33          889       40.717334       -73.997485
34          240       40.718432       -73.991701
35          128       40.717530       -73.994128
36           72       40.717847       -73.990358

                   Venue Category                  Venue ID
0              Seafood Restaurant  4b9c9c6af964a520b27236e3
1             American Restaurant  585c205665e7c70a2f1055ea
2                Greek Restaurant  5521c2ff498ebe2368634187
3              Chinese Restaurant  4db3374590a0843f295fb69b
4              English Restaurant  4c9d482e46978cfa8247967f
5              Chinese Restaurant  5894c9a15e56b417cf79e553
6              Chinese Restaurant  4a96bf8ff964a520ce2620e3
7         New American Restaurant  4fd38a04e4b065401a9aaf88
8             American Restaurant  522dfe8b7e4826517408a264
9              Spanish Restaurant  59480a78f62e090a3b4d6eb7
10              Korean Restaurant  5b4169604a1cc0002c9bdb7c
11               Asian Restaurant  4b89ac72f964a520e94a32e3
12                Thai Restaurant  5cc4e9d0c876c8002c3010cb
13            American Restaurant  572bcbaa498e16431ad34a61
14             Chinese Restaurant  3fd66200f964a520b1ea1ee3
15               Asian Restaurant  574f2ae0498ec2a700651b95
16             Dim Sum Restaurant  3fd66200f964a520d5e31ee3
17             Chinese Restaurant  5c965dad5455b2002c058659
18             Chinese Restaurant  3fd66200f964a52067e61ee3
19             Italian Restaurant  472a027af964a520ea4b1fe3
20            American Restaurant  587996ef0923920c21ea4603
21               Malay Restaurant  4bb92a9453649c74dacb47fb
22          Vietnamese Restaurant  58b096c25804ea3ce7671d47
23            American Restaurant  583e5099b21014593fb544b0
24              Hotpot Restaurant  530ff20411d2a01b7bb8a19c
25          Vietnamese Restaurant  4a7e3d0cf964a52088f11fe3
26               Malay Restaurant  5b33b3c74a7aae002cb0611d
27          Vietnamese Restaurant  4388f700f964a520162b1fe3
28            Dumpling Restaurant  49eeaf08f964a52078681fe3
29            Austrian Restaurant  49c3a162f964a52067561fe3
30            Japanese Restaurant  5a1e0dddb2958f1efac02a71
31              Hotpot Restaurant  4bf1ae60324cc9b6b652cc92
32             Mexican Restaurant  58f55261419a9e48f4dd0706
33             Chinese Restaurant  46936ee3f964a520d0481fe3
34            Dumpling Restaurant  4b391426f964a520ae5525e3
35          Vietnamese Restaurant  53aee20d498e6744c341c483
36  Vegetarian / Vegan Restaurant  589bb0fddfa6ff5e1dc8649f

In [92]:
nyc_rest_details2.head()

,Rest_name,Price,Rating,Likes Count,Venue Latitude,Venue Longitude,Venue Category,Venue ID
0,Land & Sea Restaurant,Moderate,7.5,42,40.877885,-73.905873,Seafood Restaurant,4b9c9c6af964a520b27236e3
1,Boston Market,Moderate,7.1,4,40.877430,-73.905412,American Restaurant,585c205665e7c70a2f1055ea
2,Kiki's,Moderate,9.3,825,40.714476,-73.992036,Greek Restaurant,5521c2ff498ebe2368634187
3,Spicy Village,Cheap,8.7,498,40.717010,-73.993530,Chinese Restaurant,4db3374590a0843f295fb69b
4,The Fat Radish,Moderate,8.4,716,40.715323,-73.991950,English Restaurant,4c9d482e46978cfa8247967f

In [93]:
nyc_rest_onehot=pd.DataFrame()
nyc_rest_onehot = pd.get_dummies(nyc_rest_details2[['Price']], prefix="", prefix_sep="")
nyc_rest_onehot['Rest_name'] = nyc_rest_details2['Rest_name'] 
fixed_columns = [nyc_rest_onehot.columns[-1]] + list(nyc_rest_onehot.columns[:-1])
nyc_rest_onehot = nyc_rest_onehot[fixed_columns]

nyc_rest_onehot = pd.merge(nyc_rest_onehot, nyc_rest_details2, on='Rest_name')
nyc_rest_onehot.head()

,Rest_name,Cheap,Expensive,Moderate,Price,Rating,Likes Count,Venue Latitude,Venue Longitude,Venue Category,Venue ID
0,Land & Sea Restaurant,0,0,1,Moderate,7.5,42,40.877885,-73.905873,Seafood Restaurant,4b9c9c6af964a520b27236e3
1,Boston Market,0,0,1,Moderate,7.1,4,40.877430,-73.905412,American Restaurant,585c205665e7c70a2f1055ea
2,Kiki's,0,0,1,Moderate,9.3,825,40.714476,-73.992036,Greek Restaurant,5521c2ff498ebe2368634187
3,Spicy Village,1,0,0,Cheap,8.7,498,40.717010,-73.993530,Chinese Restaurant,4db3374590a0843f295fb69b
4,The Fat Radish,0,0,1,Moderate,8.4,716,40.715323,-73.991950,English Restaurant,4c9d482e46978cfa8247967f

In [94]:
nyc_rest_onehot2=nyc_rest_onehot.loc[:,["Rest_name","Cheap","Expensive","Moderate","Rating","Likes Count","Venue Latitude","Venue Longitude"]]
nyc_rest_onehot2.head()

,Rest_name,Cheap,Expensive,Moderate,Rating,Likes Count,Venue Latitude,Venue Longitude
0,Land & Sea Restaurant,0,0,1,7.5,42,40.877885,-73.905873
1,Boston Market,0,0,1,7.1,4,40.877430,-73.905412
2,Kiki's,0,0,1,9.3,825,40.714476,-73.992036
3,Spicy Village,1,0,0,8.7,498,40.717010,-73.993530
4,The Fat Radish,0,0,1,8.4,716,40.715323,-73.991950

In [95]:
nyc_rest_onehot3=nyc_rest_onehot2.loc[:,["Cheap","Expensive","Moderate","Rating","Likes Count","Venue Latitude","Venue Longitude"]]

In [96]:
nyc_rest_onehot3.head(10)

,Cheap,Expensive,Moderate,Rating,Likes Count,Venue Latitude,Venue Longitude
0,0,0,1,7.5,42,40.877885,-73.905873
1,0,0,1,7.1,4,40.877430,-73.905412
2,0,0,1,9.3,825,40.714476,-73.992036
3,1,0,0,8.7,498,40.717010,-73.993530
4,0,0,1,8.4,716,40.715323,-73.991950
5,1,0,0,8.9,101,40.715232,-73.997263
6,1,0,0,8.3,185,40.717278,-73.994177
7,0,0,1,8.9,507,40.714459,-73.991546
8,0,0,1,8.5,643,40.714830,-73.991719
9,0,0,1,8.6,92,40.714763,-73.991455

In [97]:
from sklearn.preprocessing import StandardScaler
X = nyc_rest_onehot3.values[:,:]
X = np.nan_to_num(X)
cluster_dataset = StandardScaler().fit_transform(X)
cluster_dataset

array([[-0.65044364, -0.16666667,  0.69282032, -1.71871502, -0.81932942,
         4.18625427,  4.14563161],
       [-0.65044364, -0.16666667,  0.69282032, -2.49423278, -0.93020306,
         4.17379485,  4.168756  ],
       [-0.65044364, -0.16666667,  0.69282032,  1.77111487,  1.4652512 ,
        -0.29202937, -0.17904424],
       [ 1.53741223, -0.16666667, -1.44337567,  0.60783824,  0.51115431,
        -0.22258625, -0.2540257 ],
       [-0.65044364, -0.16666667,  0.69282032,  0.02619992,  1.1472189 ,
        -0.26883216, -0.17469855],
       [ 1.53741223, -0.16666667, -1.44337567,  0.99559712, -0.6471835 ,
        -0.27131472, -0.44138517],
       [ 1.53741223, -0.16666667, -1.44337567, -0.16767951, -0.40209439,
        -0.21523291, -0.2865154 ],
       [-0.65044364, -0.16666667,  0.69282032,  0.99559712,  0.53741386,
        -0.29250407, -0.15446453],
       [-0.65044364, -0.16666667,  0.69282032,  0.22007936,  0.9342248 ,
        -0.28231768, -0.16310573],
       [-0.65044364, -0.16666667,  0.69282032,  0.4139588 , -0.67344305,
        -0.28417888, -0.14990209],
       [-0.65044364, -0.16666667,  0.69282032, -0.55543839, -0.90977897,
        -0.21061448, -0.29048895],
       [-0.65044364, -0.16666667,  0.69282032,  0.02619992, -0.87768397,
        -0.28553655, -0.15404395],
       [-0.65044364, -0.16666667,  0.69282032,  1.57723543, -0.68219623,
        -0.18748416, -0.20654316],
       [-0.65044364, -0.16666667,  0.69282032,  0.22007936, -0.80765851,
        -0.2775563 , -0.12752426],
       [ 1.53741223, -0.16666667, -1.44337567, -0.74931783,  0.63078114,
        -0.27660233, -0.42521701],
       [-0.65044364, -0.16666667,  0.69282032,  1.38335599, -0.46336667,
        -0.19147718, -0.17661802],
       [-0.65044364, -0.16666667,  0.69282032, -0.55543839,  1.95834714,
        -0.25352143, -0.43866143],
       [ 1.53741223, -0.16666667, -1.44337567,  0.80171768, -0.88935488,
        -0.18849047, -0.37450083],
       [-0.65044364, -0.16666667,  0.69282032,  0.22007936,  2.8570072 ,
        -0.28609993, -0.46336347],
       [-0.65044364, -0.16666667,  0.69282032, -0.55543839, -0.3816703 ,
        -0.29225369, -0.15662212],
       [-0.65044364, -0.16666667,  0.69282032,  0.80171768, -0.75513941,
        -0.25793995, -0.09353549],
       [-0.65044364, -0.16666667,  0.69282032, -0.94319727, -0.4458603 ,
        -0.2561069 , -0.42342543],
       [-0.65044364, -0.16666667,  0.69282032, -1.13707671, -0.80474078,
        -0.21666986, -0.26888434],
       [-0.65044364, -0.16666667,  0.69282032,  0.4139588 , -0.25329029,
        -0.19389306, -0.18022551],
       [-0.65044364, -0.16666667,  0.69282032, -0.55543839,  0.42070476,
        -0.20751325, -0.20634364],
       [ 1.53741223, -0.16666667, -1.44337567, -0.36155895, -0.35249302,
        -0.18957568, -0.29491356],
       [-0.65044364, -0.16666667,  0.69282032,  0.4139588 , -0.49546167,
        -0.30579065, -0.12039972],
       [ 1.53741223, -0.16666667, -1.44337567, -0.55543839,  0.17561565,
        -0.2002791 , -0.21742212],
       [ 1.53741223, -0.16666667, -1.44337567,  0.60783824,  2.51855082,
        -0.18678774, -0.17145945],
       [-0.65044364,  6.        , -1.44337567,  1.18947656,  0.12601428,
        -0.20305993, -0.10181166],
       [-0.65044364, -0.16666667,  0.69282032, -1.52483558, -0.90102579,
        -0.21884072, -0.33813754],
       [-0.65044364, -0.16666667,  0.69282032, -1.52483558, -0.46044894,
        -0.24001828, -0.20277544],
       [ 1.53741223, -0.16666667, -1.44337567,  0.60783824, -0.44002485,
        -0.29966057, -0.08472296],
       [ 1.53741223, -0.16666667, -1.44337567, -0.36155895,  1.65198576,
        -0.21370359, -0.45253979],
       [ 1.53741223, -0.16666667, -1.44337567,  0.60783824, -0.24161938,
        -0.18361571, -0.16222519],
       [-0.65044364, -0.16666667,  0.69282032, -1.52483558, -0.56840486,
        -0.20832335, -0.28404187],
       [-0.65044364, -0.16666667,  0.69282032,  1.38335599, -0.73179759,
        -0.19963821, -0.09479928]])

In [98]:
kclusters=4


kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(cluster_dataset)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:30]

array([0, 0, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 2, 2, 3], dtype=int32)

In [99]:
df5_nyc=pd.DataFrame()
df5_nyc["Cluster Labels"]=kmeans.labels_
df5_nyc=pd.concat([df5_nyc,nyc_rest_details2], axis=1)
df5_nyc

,Cluster Labels,Rest_name,Price,Rating,Likes Count,Venue Latitude,Venue Longitude,Venue Category,Venue ID
0,0,Land & Sea Restaurant,Moderate,7.5,42,40.877885,-73.905873,Seafood Restaurant,4b9c9c6af964a520b27236e3
1,0,Boston Market,Moderate,7.1,4,40.877430,-73.905412,American Restaurant,585c205665e7c70a2f1055ea
2,1,Kiki's,Moderate,9.3,825,40.714476,-73.992036,Greek Restaurant,5521c2ff498ebe2368634187
3,2,Spicy Village,Cheap,8.7,498,40.717010,-73.993530,Chinese Restaurant,4db3374590a0843f295fb69b
4,1,The Fat Radish,Moderate,8.4,716,40.715323,-73.991950,English Restaurant,4c9d482e46978cfa8247967f
5,2,Xi'an Famous Foods,Cheap,8.9,101,40.715232,-73.997263,Chinese Restaurant,5894c9a15e56b417cf79e553
6,2,Wah Fung Number 1 Fast Food è¯è±å¿«é£¯åº,Cheap,8.3,185,40.717278,-73.994177,Chinese Restaurant,4a96bf8ff964a520ce2620e3
7,1,Forgtmenot,Moderate,8.9,507,40.714459,-73.991546,New American Restaurant,4fd38a04e4b065401a9aaf88
8,1,Dimes,Moderate,8.5,643,40.714830,-73.991719,American Restaurant,522dfe8b7e4826517408a264
9,1,Cervo's,Moderate,8.6,92,40.714763,-73.991455,Spanish Restaurant,59480a78f62e090a3b4d6eb7
10,1,Grand Seoul,Moderate,8.1,11,40.717447,-73.994256,Korean Restaurant,5b4169604a1cc0002c9bdb7c
11,1,Ling Kee,Moderate,8.4,22,40.714713,-73.991538,Asian Restaurant,4b89ac72f964a520e94a32e3
12,1,Wayla,Moderate,9.2,89,40.718291,-73.992584,Thai Restaurant,5cc4e9d0c876c8002c3010cb
13,1,The Commissary,Moderate,8.5,46,40.715004,-73.991010,American Restaurant,572bcbaa498e16431ad34a61
14,2,Great N.Y. Noodletown,Cheap,8.0,539,40.715039,-73.996941,Chinese Restaurant,3fd66200f964a520b1ea1ee3
15,1,Simple,Moderate,9.1,164,40.718145,-73.991988,Asian Restaurant,574f2ae0498ec2a700651b95
16,1,Jing Fong Restaurant éè±å¤§é æ¨,Moderate,8.1,994,40.715881,-73.997209,Dim Sum Restaurant,3fd66200f964a520d5e31ee3
17,2,Yi Ji Shi Mo Noodle Corp,Cheap,8.8,18,40.718254,-73.995930,Chinese Restaurant,5c965dad5455b2002c058659
18,1,Joe's Shanghai é¹¿åæ¥,Moderate,8.5,1302,40.714692,-73.997701,Chinese Restaurant,3fd66200f964a52067e61ee3
19,1,Bacaro,Moderate,8.1,192,40.714468,-73.991589,Italian Restaurant,472a027af964a520ea4b1fe3
20,1,l'estudio,Moderate,8.8,64,40.715720,-73.990332,American Restaurant,587996ef0923920c21ea4603
21,1,New Malaysia,Moderate,7.9,170,40.715787,-73.996905,Malay Restaurant,4bb92a9453649c74dacb47fb
22,1,BÃªp GÃ,Moderate,7.8,47,40.717226,-73.993826,Vietnamese Restaurant,58b096c25804ea3ce7671d47
23,1,The Flower Shop,Moderate,8.6,236,40.718057,-73.992060,American Restaurant,583e5099b21014593fb544b0
24,1,99 Favor Taste 99èé¤å»³,Moderate,8.1,467,40.717560,-73.992580,Hotpot Restaurant,530ff20411d2a01b7bb8a19c
25,2,Nam Son Vietnamese Restaurant,Cheap,8.2,202,40.718215,-73.994345,Vietnamese Restaurant,4a7e3d0cf964a52088f11fe3
26,1,Kopitiam,Moderate,8.6,153,40.713974,-73.990868,Malay Restaurant,5b33b3c74a7aae002cb0611d
27,2,Phá» Grand,Cheap,8.1,383,40.717824,-73.992801,Vietnamese Restaurant,4388f700f964a520162b1fe3
28,2,Vanessa's Dumpling House,Cheap,8.7,1186,40.718316,-73.991885,Dumpling Restaurant,49eeaf08f964a52078681fe3
29,3,Cafe Katja,Expensive,9.0,366,40.717722,-73.990497,Austrian Restaurant,49c3a162f964a52067561fe3
30,1,Shinka Ramen & Sake Bar,Moderate,7.6,14,40.717147,-73.995206,Japanese Restaurant,5a1e0dddb2958f1efac02a71
31,1,Hou Yi Hot Pot,Moderate,7.6,165,40.716374,-73.992509,Hotpot Restaurant,4bf1ae60324cc9b6b652cc92
32,2,JaJaJa Plantas Mexicana,Cheap,8.7,172,40.714198,-73.990157,Mexican Restaurant,58f55261419a9e48f4dd0706
33,2,Shanghai CafÃ© Deluxe,Cheap,8.2,889,40.717334,-73.997485,Chinese Restaurant,46936ee3f964a520d0481fe3
34,2,Shu Jiao Fu Zhou Cuisine æ½­é ­çç¦å·å°å (Shu Jiao Fu ...,Cheap,8.7,240,40.718432,-73.991701,Dumpling Restaurant,4b391426f964a520ae5525e3
35,1,Pho Vietnam,Moderate,7.6,128,40.717530,-73.994128,Vietnamese Restaurant,53aee20d498e6744c341c483
36,1,Orchard Grocer,Moderate,9.1,72,40.717847,-73.990358,Vegetarian / Vegan Restaurant,589bb0fddfa6ff5e1dc8649f

In [100]:
df5_nyc.dropna(inplace=True)
df5_nyc.drop_duplicates(inplace=True)
df5_nyc=df5_nyc[np.isfinite(df5_nyc['Rating'])]
df5_nyc.head()

,Cluster Labels,Rest_name,Price,Rating,Likes Count,Venue Latitude,Venue Longitude,Venue Category,Venue ID
0,0,Land & Sea Restaurant,Moderate,7.5,42,40.877885,-73.905873,Seafood Restaurant,4b9c9c6af964a520b27236e3
1,0,Boston Market,Moderate,7.1,4,40.877430,-73.905412,American Restaurant,585c205665e7c70a2f1055ea
2,1,Kiki's,Moderate,9.3,825,40.714476,-73.992036,Greek Restaurant,5521c2ff498ebe2368634187
3,2,Spicy Village,Cheap,8.7,498,40.717010,-73.993530,Chinese Restaurant,4db3374590a0843f295fb69b
4,1,The Fat Radish,Moderate,8.4,716,40.715323,-73.991950,English Restaurant,4c9d482e46978cfa8247967f

In [101]:
df5_nyc.describe()

       Cluster Labels     Rating  Likes Count  Venue Latitude  Venue Longitude
count       37.000000  37.000000    37.000000       37.000000        37.000000
mean         1.297297   8.386486   322.810811       40.725132       -73.988469
std          0.617561   0.522899   347.460057        0.036992         0.020198
min          0.000000   7.100000     4.000000       40.713974       -73.997701
25%          1.000000   8.100000    72.000000       40.715004       -73.994256
50%          1.000000   8.500000   172.000000       40.717147       -73.992060
75%          2.000000   8.700000   498.000000       40.717847       -73.991538
max          3.000000   9.300000  1302.000000       40.877885       -73.905412

In [102]:
df5_nyc[df5_nyc["Cluster Labels"]==2].head(20)

,Cluster Labels,Rest_name,Price,Rating,Likes Count,Venue Latitude,Venue Longitude,Venue Category,Venue ID
3,2,Spicy Village,Cheap,8.7,498,40.717010,-73.993530,Chinese Restaurant,4db3374590a0843f295fb69b
5,2,Xi'an Famous Foods,Cheap,8.9,101,40.715232,-73.997263,Chinese Restaurant,5894c9a15e56b417cf79e553
6,2,Wah Fung Number 1 Fast Food è¯è±å¿«é£¯åº,Cheap,8.3,185,40.717278,-73.994177,Chinese Restaurant,4a96bf8ff964a520ce2620e3
14,2,Great N.Y. Noodletown,Cheap,8.0,539,40.715039,-73.996941,Chinese Restaurant,3fd66200f964a520b1ea1ee3
17,2,Yi Ji Shi Mo Noodle Corp,Cheap,8.8,18,40.718254,-73.995930,Chinese Restaurant,5c965dad5455b2002c058659
25,2,Nam Son Vietnamese Restaurant,Cheap,8.2,202,40.718215,-73.994345,Vietnamese Restaurant,4a7e3d0cf964a52088f11fe3
27,2,Phá» Grand,Cheap,8.1,383,40.717824,-73.992801,Vietnamese Restaurant,4388f700f964a520162b1fe3
28,2,Vanessa's Dumpling House,Cheap,8.7,1186,40.718316,-73.991885,Dumpling Restaurant,49eeaf08f964a52078681fe3
32,2,JaJaJa Plantas Mexicana,Cheap,8.7,172,40.714198,-73.990157,Mexican Restaurant,58f55261419a9e48f4dd0706
33,2,Shanghai CafÃ© Deluxe,Cheap,8.2,889,40.717334,-73.997485,Chinese Restaurant,46936ee3f964a520d0481fe3
34,2,Shu Jiao Fu Zhou Cuisine æ½­é ­çç¦å·å°å (Shu Jiao Fu ...,Cheap,8.7,240,40.718432,-73.991701,Dumpling Restaurant,4b391426f964a520ae5525e3

In [103]:
df5_nyc.loc[df5_nyc["Price"]=="Cheap",:].shape

(11, 9)

In [105]:
df5_nyc.loc[df5_nyc["Price"]=="Moderate",:].shape

(25, 9)

In [106]:
df5_nyc.loc[df5_nyc["Price"]=="Expensive",:].shape

(1, 9)

In [107]:
df5_nyc.loc[df5_nyc["Price"]=="Very Expensive",:].shape

(0, 9)

In [108]:
# create map
map_clusters = folium.Map(location=[40.730610, -73.935242], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(df5_nyc['Venue Latitude'], df5_nyc['Venue Longitude'], df5_nyc['Rest_name'], df5_nyc['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[int(cluster)-2],
        fill=True,
        fill_color=rainbow[int(cluster)-3],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [109]:
nyc_restaurants=pd.DataFrame()
nyc_restaurants["restaurant_category"]=nyc_restaurants_array[0]
nyc_restaurants["restaurant_category_count"]=nyc_restaurants_array[1]
nyc_restaurants.sort_values('restaurant_category_count',inplace=True,ascending=False)
nyc_restaurants = nyc_restaurants[nyc_restaurants.restaurant_category != "Restaurant"]
nyc_restaurants.head(10)

         restaurant_category  restaurant_category_count
34        Italian Restaurant                        125
2        American Restaurant                         78
26         French Restaurant                         53
45        Mexican Restaurant                         53
14        Chinese Restaurant                         49
36       Japanese Restaurant                         48
66          Sushi Restaurant                         44
59        Seafood Restaurant                         33
32         Indian Restaurant                         31
44  Mediterranean Restaurant                         27